---
export interface Props {
  title: string;
  body: string;
  href: string;
  iconClass: string;
}
const { href, title, body, iconClass } = Astro.props;
---

<li>
  <a title={title} href={href}>
    <i class={iconClass}></i>
    <span class="label">{body}</span>
  </a>
</li>
