---
export interface Props {
  title: string;
  body: string;
  href: string;
  iconClass: string;
}
const { href, title, body, iconClass } = Astro.props;
---

<li>
  <a title={title} href={href} class={iconClass}><span class="label">{body}</span></a>
</li>
